html,body{
	min-height:100%;
}
body{
	margin:auto;
	padding:10px;
	max-width:360px;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	backgrounf-repeat: no-repeat;
}
.input{
	width:100%;
	margin-bottom:5px;
}
.harga{
	width:100%;
	font-size:12px;
	border:1px solid #ccc;
	border-collapse: collapse;
}
.harga th{
	border:1px solid #ccc;
	background:#eee;
}
.harga td{
	border:1px solid #ccc;
}
.error{
	border:1px solid red;
	color:red;
}
.trial{
	margin:0;
	padding:0;
}