html, body{
	min-height: 100%;
}
body{
	margin: auto;
	background-image: url("../image/gb1.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.header{
	font-size: 26px;
	text-align: center;
}
.app{
	margin: auto;
	min-width: 90%;
	max-width: 640px;
}
.menu ul li{
	float: left;
	padding: 0px;
}
ul{
	padding: 5px;
}
li{
	list-style-type: none;
}
input:focus{
	outline: none;
}