@keyframes blink{
0%{color:red}
50%{color:white}
100%{color:red}
}
@-webkit-keyframes blink{
0%{color:black}
50%{color:white}
100%{color:black}
}
.blink{
-webkit-animation:blink 2s linear infinite;
-moz-animation:blink 2s linear infinite;
animation:blink 2s linear infinite
}
html,body{
	min-height: 100%;
}
body{
	margin: auto;
	padding: 0;
	max-width: 340px;
	min-width: 340px;
	background-image: linear-gradient(to bottom, #484848, #727272, #9e9e9e, #cecece, #ffffff);
}
.window{
	margin-top: 25%;
}
.inputBox{
	width: 100%;
	margin-bottom: 10px;
	font-weight: 700;
}
.reader, .reader *{
	min-height: 200px;
	max-height: 200px;
	border: 1px solid #CCC;
	overflow: hidden;
}
table{
	width: 100%;
}
th{
	border-bottom: 1px solid #CCC;
	text-align: left;
}
#loginMode{
	border-bottom: 1px solid #CCC;
}
.error{
	border: 1px solid red;
	color:  red;
}
.trial{
	font-weight: 700;
	text-decoration: none;
}