*{
	/*font-weight:900;*/
}
html, body{
	min-height:100%;
}
body{
	margin: auto;
	padding: 10px;
	max-width: 380px;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.window{
	border: 5px solid black;
	min-width:340px;
	min-height:170px;
	background: rgba(0,0,0,0.2);
}
.glass{
  background: rgba(0,0,0,0.2);
}
.icon{
	min-width:25px;
	min-height:25px;
	max-width:25px;
}
input:focus{
	outline: none;	
}
.input, .button{
	padding-left:40px;
	background-size: 25px;
	background-position: 4%;
	background-repeat: no-repeat;
	border:none;
	font-weight:900;
}
.pricelist{
	border: none;
	border-collapse: collapse;
	margin-bottom: 10px;
}
.pricelist th{
	background: #484848;
	color:#fff;
}
.voucher{
	padding:2px;
	padding-left: 20%;
	font-size:12px;
	margin-bottom:10px;
	background-image: url("../img/wifi.png");
	background-position: 5%;
	background-size: 30px;
	background-repeat: no-repeat;
}
